body{
    font-family: potta one, Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0%;
    
}
:root{
    --hover-color:#ff5555
}
.main{
    padding: 10px;
    margin-left: 3rem;
}

.navbar{
    background-color: #23232e;
    /* 100% of the viewer height */
    height: 100vh;
    /* root element, a mulitiplier to font size of root element */
    flex: 1 0 5rem; 
    /* rem * set font = size */
}

.nav-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.nav-link{
    margin-bottom: 3rem;
}
svg{
    width: 40px;
}

.link-text{
    display: none;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}
/*  
#logout{
    margin-top: auto;
}
*/
.nav-container .nav-link:first-child svg{
    color: blue;
    fill: blue;
}
.nav-container .nav-link:last-child{
    margin-top: auto;
}
/* large screen size */

@media screen and (min-width:600px){
    .nav-container:hover{
        width: 16rem;
    }
    .nav-container:hover .link-text{
        display: inline;
    }
    .nav-link{
        display: flex;
        align-items: center;
    }
    .nav-container:hover{
        align-items: flex-start;
    }
    .nav-container:hover .nav-link{
        padding-left: 1rem;
    }
    .nav-link{
        display: flex;
        align-items: center;
    }
    .nav-link:hover svg{
        fill: #ff5555;
    }
    .nav-link:hover .link-text{
        color: #ff5555;
    }
    
}


/* small screen size */
@media screen and (max-width: 600px){
    body{
        flex-direction: column-reverse;
        
        
    }
    .navbar{
        width: 100vw;
        height: 5rem;
        position: fixed;
        bottom: 0%;

    }
  .nav-container{
      flex-direction: row;
      justify-content: space-around;
  }
  .nav-link{
      margin-bottom: 0%;
  }
  #logout{
      margin-top: 0%;
  }
}


/* .flex{ 
    display: flex;
    
}

.blue, .red, .green{
    height: 50px;
    width: 50px;
}

.blue{
    background-color: blue;
    flex: 1;
}

.red{
    background-color: red;
    flex: 2;
}

.green{
    background-color: green;
    flex: 1;
}
